* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.container img {
  width: 300px;
}

.container img:hover {
  cursor: pointer;
  opacity: .9;
}